@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout {
  min-height: 100vh;
}
.sm-logo {
  display: none;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}
.ant-layout-sider-collapsed .lg-logo {
  display: none;
}

.ant-layout-content {
  background: #f5f5f5 !important;
}
